In [ ]:
import pandas as pd

In [ ]:
arr = [1,2,3]
ser = pd.Series(arr)
ser

0    1
1    2
2    3
dtype: int64

In [ ]:
ser[0]

1

In [ ]:
ser_indexes = pd.Series(arr, index=["x","y","z"])
ser_indexes

x    1
y    2
z    3
dtype: int64

In [ ]:
d = {
    "x":1,
    "k":2,
    "z":3
}
ser2 = pd.Series(d)
ser2

x    1
k    2
z    3
dtype: int64

In [ ]:
ser3 = pd.Series(d, index=["x"])
ser3

# if index not in list the output would be NaN

x    1
dtype: int64

In [ ]:
data = {
    "c":[20,30,40],
    "d":[202,404,505]
}

data

df = pd.DataFrame(data)
df

    c    d
0  20  202
1  30  404
2  40  505

In [ ]:
df.iloc[0:2]

    c    d
0  20  202
1  30  404

In [ ]:
df.loc[0]["d"]

202

In [ ]:
df.loc[[0,1]]

    c    d
0  20  202
1  30  404

In [2]:
data_set = pd.read_csv('pokemon_data.csv')
data_set.head(6)

#Kaggle

NameError: name 'pd' is not defined

In [ ]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [1]:
data_set.head()

NameError: name 'data_set' is not defined